@{
    ViewBag.Title = "Landing Page";
}


<!DOCTYPE html>
<html>
<head>
    <title>IITR - Online Portal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="~/assets/images/iitr-icon.png" type="image/png" sizes="32x32">

    <!-- CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
</head>

<body>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</body>
</html>