@{
    ViewBag.Title = "Landing Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Beacon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @*<link rel="icon" href="~/assets/images/icon.png" type="image/png" sizes="32x32">*@

    <!-- CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
</head>

<body>
    @*<header>
            <a href="#" class="logo">Beacon</a>
            <div class="toggle"></div>
        </header>*@
    <!--Banner-->
    <!--<div class="banner">
        <header>
            <a href="#" class="logo">Beacon</a>
            <div class="toggle"></div>
        </header>-->
    @*<img src="~/assets/images/header.jpg" />
        <div class="content">
            <h2>Success by Design</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla risus ac ipsum consectetur efficitur. Mauris sit amet tincidunt augue, id molestie turpis. Sed tincidunt tellus nec massa ultrices, id malesuada ligula faucibus. Ut at nulla pretium, rhoncus ligula quis, hendrerit diam. Praesent et dolor ligula. Cras imperdiet tellus at vehicula aliquam. Duis ac urna lacinia, sagittis nibh blandit, varius purus. Nullam auctor elit eget ultricies placerat. Aliquam mollis nisl vel mauris mollis posuere.
            </p>
        </div>*@
    <!--</div>-->
    <!-- Page 1-->
    @*<section class="firstPage">
            <div class="contentBx1">
                <h2>Are you down?</h2>
                <p>Making Plans with friends has never been easier.
                Leave the messy group chats behind and shoot a Beacon for your next hangout.
                Sign up for our waitlist below!
                </p>

                <input type="text" name="Fullname" placeholder="Enter your full name" />
                <input type="text" name="Email" placeholder="Enter your email" />
            </div>
            <div class="imgBx1">
                <img src="~/assets/images/image1.png" />
            </div>
        </section>*@
    <!--<section>
        <div class="container">
            <div class="firstPage">
                <div class="row">
                    <div class="col">
                        <div class="contentBx1">
                            <h1 class="heading">Are you down?</h1>
                                <p class="text">
                                    Making Plans with friends has never been easier.
                                    Leave the messy group chats behind and shoot a Beacon for your next hangout.
                                    Sign up for our waitlist below!
                                </p>

                                <form>
                                    <div class="form-group">-->
    @*<label for="exampleFormControlInput1">Email address</label>*@
    <!--<input type="email" class="form-control" id="Fullname" placeholder="Enter your full name">
    </div>
    <div class="form-group">-->
    @*<label for="exampleFormControlInput1">Email address</label>*@
    <!--<input type="email" class="form-control" id="Email" placeholder="Enter your email">
        </div>
    </form>-->
    @*<input type="text" name="Fullname" placeholder="Enter your full name" /><br /><br />
        <input type="text" name="Email" placeholder="Enter your email" />*@

    <!--</div>
    </div>
    <div class="col">
        <div class="imgBx1">
            <img src="~/assets/images/image1.png" />
        </div>
    </div>-->
    @*<div class="w-100"></div>
        <div class="col">Column3</div>
        <div class="col">Column4</div>*@
    <!--</div>
            </div>
        </div>
    </section>-->
    <!-- 1st Content-->
    <section>
        <form class="container">
            <div class="row">
                <div class="firstPage">
                    <div class="col-md-6">
                        <div class="contentBx1">
                            <h1 class="heading">Are you down?</h1>
                            <p class="text">
                                Making Plans with friends has never been easier.
                                Leave the messy group chats behind and shoot a Beacon for your next hangout.
                                Sign up for our waitlist below!
                            </p>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="Fullname" placeholder="Enter your full name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="Email" placeholder="Enter your email">
                                </div>

                                <div class="btnSubmit">
                                    <button type="button" class="btn btn-primary btn-lg" id="submit">Send It</button>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="imgBx1">
                            <img src="~/assets/images/image1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- 1st Content-->
    <!-- 2st Content-->
    <section>
        <div class="row justify-content-center headingBlack">
            <h1>...so what's Beacon all about?</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="firstPage">
                    <div class="col-md-6">
                        <div class="contentBx1">

                            <h1 class="heading">Create a Beacon to solidify hangouts</h1>
                            <p class="text">
                                Planning hangouts is such a hassle. Beetween flaky friends and group chat spam, you never know what's happening.
                                Beacon s here to solve that.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="imgBx1">
                            <img src="~/assets/images/image5.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 2nd Content-->

    <!-- 3rd Content-->
    <section>
        <div class="container">
            <div class="row">
                <div class="firstPage">
                    <div class="col-md-6">
                        <div class="imgBx1">
                            <img src="~/assets/images/image5.png" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contentBx1">
                            <h1 class="heading">Invite friends to see who's down to hang</h1>
                            <p class="text">
                                You'll never have to worry about. keeping track of who's down or who's going.
                                Our Invite List makes it easy for you to see who's interested and free.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- 3rd Content-->

    <!-- 4th Content-->
    <section>
        <div class="container">
            <div class="row">
                <div class="firstPage">
                    <div class="col-md-6">
                        <div class="contentBx1">
                            <h1 class="heading">Discover local venues and activities</h1>
                            <p class="text">
                                Ditch the stress of figuring out what you're doing or where you're going.
                                Beacon helps you find ideas of things to doaround you that you can easily share with friends!
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="imgBx1">
                            <img src="~/assets/images/image5.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 4th Content-->

    <!-- 5th Content-->
    <section>
        <div class="row justify-content-center headingBlack">
            <h1>Sign up today!</h1>
        </div>
        <br />
        <form div="container">
            <div class="signup-section justify-content-center">
                <div class="form-group">
                    <input type="text" class="form-control" id="Fullname" placeholder="Enter your full name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="Email" placeholder="Enter your email">
                </div>

                <div class="btnSubmit">
                    <button type="button" class="btn btn-primary btn-lg" id="submit">Send It</button>
                </div>
            </div>
        </form>
    </section>
    <!-- 5th Content-->
</body>
</html>







@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@